<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='weaksession.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ user }}</h1>
        <div class="profile-info">
            <p>Email: {{ email }}</p>
            <p>Address: {{ address }}</p>
            {%if user == 'admin' %}
                <p>The lab is solved</p>
            {%endif%}
        </div>
        <a href="/">Logout</a>
    </div>
</body>
</html>
